---
import Listgames from "../components/Listgames.astro";
import Navbar from "../components/Navbar.astro";
import Navbarsub from "../components/Navbarsub.astro";
import Pregame from "../components/Pregame.astro";
import "../styles/Global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav><Navbar /></nav>

    <section><Navbarsub /></section>
    <section>
      <Pregame />
      <section></section>
      <Listgames />
    </section>
  </body>
</html>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
