---

---

<div class="container">
  <ul class="category">
    <img src="steamcards.png" alt="" />
    <h1 class="TitleCategory">TARJETAS REGALO DE STEAM</h1>
    <h3 class="SubTitle">Regala diversíon</h3>

    <h2 class="subCategory">RECOMENDADOS</h2>

    <li>Amigos</li>
    <li>Mentores</li>
    <li>Etiquetas</li>
  </ul>

  <ul class="category">
    <h2 class="subCategory">EXPLORAR CATEGORÍAS</h2>
    <li>Lo más vendido</li>
    <li>Novedades</li>
    <li>Próximamente</li>
    <li>Ofertas</li>
    <li>Títulos de RV</li>
    <li>Compatibles con mandos</li>
    <li>Perfecto para Deck</li>
  </ul>

  <ul class="category">
    <h2 class="subCategory">EXPLORAR GÉNERO</h2>
    <li>Free to Play</li>
    <li>Acceso anticipado</li>
    <li>Acción</li>
    <li>Aventura</li>
    <li>Carreras</li>
    <li>Casuales</li>
    <li>Deportes</li>
    <li>Estrategia</li>
    <li>Indie</li>
    <li>Multijugador masivo</li>
    <li>Rol</li>
    <li>Simulación</li>
  </ul>
</div>

<style>
  .container {
    position: relative;

    margin-left: 5rem;
  }

  .listGames {
  }
  .category {
    line-height: 16px;
    margin: 7px 0;
    list-style: none;
    color: #dddddd;
  }
  .TitleCategory {
    position: relative;
    bottom: 0.3rem;
    font-size: 14px;
  }
  .SubTitle {
    font-size: 12px;
    color: #81add1;
    position: relative;
    bottom: 1rem;
  }

  .subCategory {
    color: #536f86;
    font-size: 14px;
  }

  .category li {
    font-size: 12px;
    font-weight: 600;
    color: #859db1;
  }

  img {
    width: 180px;
  }
</style>
