---

---

<div class="container">
  <h2 class="Title">DESTACADOS Y RECOMENDADOS</h2>
  <div class="pregame"></div>
  <div class="miniview"></div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
  }

  .Title {
    position: relative;
    top: 3rem;
    right: 21rem;
    z-index: 2;
    color: aliceblue;
    font-size: 14px;
    font-weight: 500;
  }

  .pregame {
    position: absolute;
    top: 30%;
    left: 23%;
    z-index: 1;
    background-image: (re1.jpg);
    width: 600px;
    height: 350px;
  }
</style>
